@use "utils" as *;

// セクションの大枠
.details {
  background-color: #f2f2f2;
  @include mq(sp) {
    padding-top: spvw(60);
  }
  @include mq(pc) {
    padding-top: pcmin(100);
  }
}

// 一個目のアコーディオンのコンテナ
.details__conainer--first {
  margin-inline: auto;
  @include mq(sp) {
    width: spvw(320);
  }
  @include mq(pc) {
    width: pcmin(1000);
  }
}

// FAQのタブ
.details__question--tab {
  background-color: #fff;
  border: #000 solid 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(sp) {
    height: spvw(60);
  }
  @include mq(pc) {
    height: pcmin(87);
  }
}

// タブのテキスト
.details__question--tab .tab__text {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  @include mq(sp) {
    margin-left: spvw(14);
    font-size: spvw(16);
  }
  @include mq(pc) {
    font-size: pcmin(23);
    margin-left: pcmin(48);
    margin-bottom: pcmin(7);
  }
}

// タブの十字アイコン
.details__conainer--first .tab__icon {
  background-color: #000;
  display: block;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: rotate(90deg);
    transition: transform 0.6s;
  }
  @include mq(sp) {
    width: spvw(14);
    height: spvw(3);
    margin-right: spvw(23);
  }
  @include mq(pc) {
    width: pcmin(15);
    height: pcmin(3);
    margin-right: pcmin(28);
    margin-bottom: rem(3);
  }
}
// タブの開閉に連動してアイコンの十字を動作
.active .tab__icon::before {
  transform: none;
}

// 一枚目のアコーディオンパネル
.details__question--panel {
  background-color: #fff;
  overflow: hidden;
  height: 0;
  transition: height 0.6s ease-in-out;
}

// インナーコンテナ
.panel__container {
  @include mq(sp) {
    padding-inline: spvw(10);
    padding-top: spvw(3);
    padding-bottom: sovw(35);
  }
  @include mq(pc) {
    padding-inline: pcmin(67);
    padding-top: pcmin(8);
    padding-bottom: pcmin(65);
  }
}

//  インナータイトル
.question__title {
  font-weight: bold;
  line-height: 1;
  @include mq(sp) {
    font-size: spvw(16);
    padding-top: spvw(26);
  }
  @include mq(pc) {
    font-size: pcmin(23);
    padding-top: pcmin(34);
  }
}

// インナーアコーディオン
.details__innerAccordion {
  background-color: #d0e7ff;
  @include mq(sp) {
    border-radius: spvw(10);
    margin-top: spvw(23);
    padding-left: spvw(17);
  }
  @include mq(pc) {
    border-radius: pcmin(10);
    margin-top: pcmin(26);
    padding-left: pcmin(57);
  }
}

// インナーアコーディオンのタブ
.inner__tab {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .inner__tabText {
    display: block;
    font-weight: bold;
    @include mq(sp) {
      line-height: 1.44;
      font-size: spvw(16);
      padding-top: spvw(18);
      padding-bottom: spvw(18);
      width: 16em;
    }
    @include mq(pc) {
      font-size: pcmin(18);
      padding-top: pcmin(28);
      padding-bottom: pcmin(28);
      line-height: 1;
    }
  }

  & .inner__tabIcon {
    display: block;
    background-color: #000;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      transform: rotate(90deg);
      transition: transform 0.6s ease;
    }
    @include mq(sp) {
      width: spvw(14);
      height: spvw(3);
      margin-right: spvw(11);
    }
    @include mq(pc) {
      width: pcmin(15);
      height: pcmin(3);
      margin-right: pcmin(35);
    }
  }
  &.active .inner__tabIcon::before {
    transform: none;
  }
}

// インナーアコーディオン
.inner {
  &__panel {
    overflow: hidden;
    height: 0;
    transition: height 0.6s ease-in-out;
  }

  &__panelContainer {
    @include mq(sp) {
      padding-top: spvw(9);
      padding-bottom: spvw(32);
      font-size: spvw(15);
      width: 16em;
      line-height: 1.4;

      & ul li {
        margin-top: spvw(11);
      }
    }
    @include mq(pc) {
      padding-top: pcmin(2);
      padding-bottom: pcmin(34);
      width: 46em;
      font-size: pcmin(16);
      line-height: 1.44;
      & .pc-none {
        display: contents;
      }

      & ul li {
        margin-top: pcmin(11);
      }
    }
  }
}
