@use "utils" as *;
// セクション
.introduction {
  width: 100%;
  @include mq(sp) {
    padding-inline: spvw(20);
    padding-bottom: spvw(41);
  }
  @include mq(pc) {
    padding-bottom: pcmin(100);
  }
}

// セクションタイトル
.introduction {
  &__title {
    font-weight: 900;
    line-height: 1.5;
    color: #000;
    text-align: center;
    @include mq(sp) {
      font-size: spvw(26);
      padding-top: spvw(30);
    }
    @include mq(pc) {
      font-size: pcmin(40);
      padding-top: 94px;
      line-height: 1;
      letter-spacing: -0.02em;
      & br {
        display: contents;
      }
    }
  }

  &__description {
    @include mq(sp) {
      font-size: spvw(15);
      margin-top: spvw(28);
      line-height: calc(25 / 15);
    }

    @include mq(pc) {
      margin-top: pcmin(50);
      font-size: pcmin(18);
      text-align: center;
    }
  }
}

// 各ステップカードを収納するコンテナ
.introduction__container {
  @include mq(sp) {
    margin-top: spvw(31);
  }
  @include mq(pc) {
    margin-top: pcmin(75);
    width: pcmin(763);
    margin-inline: auto;
  }
}

// ステップ
.introduction__step {
  width: 100%;
  transition: all 0.6s ease-in-out;

  & + .introduction__step {
    @include mq(pc) {
      margin-top: pcmin(9);
    }
    @include mq(sp) {
      margin-top: spvw(9);
    }
  }
}

.introduction__card {
  border: solid 1px #1989ff;
  display: flex;
}

// 左側の青い部分
.card__left {
  background-color: #1989ff;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(sp) {
    width: per(115, 335);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    font-size: spvw(16);
    & span {
      margin-right: spvw(15);
      margin-bottom: spvw(6);
    }
  }

  @include mq(pc) {
    width: per(192, 763);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    font-size: pcmin(20);

    & span {
      margin-right: 29px;
      margin-bottom: 1px;
      letter-spacing: 0.05em;
    }
  }
}

// 右側のテキスト部分
.card__right {
  text-transform: uppercase;
  line-break: strict;
  line-height: 1.47;
  @include mq(sp) {
    padding-block: spvw(20);
    font-size: spvw(15);
    width: 12.2em;
    margin-left: spvw(11);
  }

  @include mq(pc) {
    padding-block: pcmin(22);
    margin-left: pcmin(60);
    width: 28em;
  }
}

// 矢印
.introduction__allow {
  text-align: center;
  color: #1989ff;
  @include mq(sp) {
    font-size: spvw(35);
    margin-top: max(rem(-5), spvw(-5));
  }
  @include mq(pc) {
    font-size: pcmin(35);
  }
}

// ステップ部のスクロールアニメーション
.introduction__step.intersective {
  transform: translateY(50%);
  opacity: 0;
}

// ステップ下、セクションサブタイトル
.introduction__subtitle {
  font-weight: bold;
  text-align: center;
  @include mq(sp) {
    margin-top: spvw(22);
    font-size: spvw(17);
    line-height: 1.47;
  }
  @include mq(pc) {
    font-size: pcmin(23);
    line-height: 1.52;
    margin-top: pcmin(63);
  }
}

// サブタイトル下、三枚のカード
.introduction__support {
  display: grid;
  @include mq(sp) {
    margin-top: spvw(35);
  }
  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: pcmin(20);
    width: pcmin(1075);
    margin-inline: auto;
    margin-top: pcmin(47);
  }
}
.support__card {
  background-color: #d0e7ff;
  @include mq(sp) {
    border-radius: spvw(10);
    & + .support__card {
      margin-top: spvw(22);
    }
  }
  @include mq(pc) {
    border-radius: pcmin(10);
  }
}

// カードタイトル
.support__cardTitle {
  color: #1989ff;
  text-align: center;
  & span {
    color: #000;
    font-weight: bold;
  }
  @include mq(sp) {
    font-size: spvw(17);
    padding-top: spvw(28);
    & span {
      margin-left: spvw(5);
    }
  }
  @include mq(pc) {
    font-size: pcmin(18);
    padding-top: 34px;
    & span {
      margin-left: pcmin(5);
      line-height: 1.56;
    }
  }
}

// カードテキスト
.support__cardTextList {
  @include mq(sp) {
    margin-top: 26px;
    font-size: spvw(15);
    line-height: 1.4;
    width: 18em;
    margin-inline: auto;

    & li + li {
      margin-top: spvw(15);
      padding-bottom: spvw(39);
    }
  }
  @include mq(pc) {
    margin-top: pcmin(22);
    width: 16em;
    margin-inline: auto;
    line-height: 1.44;
    font-size: pcmin(16);
    position: relative;
    right: rem(3);
    & li + li {
      margin-top: pcmin(11);
      padding-bottom: pcmin(53);
    }
  }
}

// セクション下のbetweenセクション調整用
.introduction__between {
  @include mq(sp) {
    padding-top: spvw(56);
    & .between__text {
      text-align: center;
      line-height: 1.76;
    }

    & .between__btn {
      margin-top: 17px;
    }
  }
  @include mq(pc) {
    & br {
      display: contents;
    }
  }
}
