@use "utils" as *;

// セクションの大枠
.selection {
  background-color: #d0e7ff;
  width: 100%;
  padding-bottom: spvw(40);

  @include mq(pc) {
    padding-bottom: pcmin(100);
  }
}

// セクションタイトル
.selection__title {
  font-size: spvw(26);
  font-weight: 900;
  text-align: center;
  padding-top: spvw(26);

  @include mq(pc) {
    font-size: pcmin(40);
    padding-top: pcmin(88);
  }
}

// pc用セクションコンテナ
.selection__container--first {
  @include mq(sp) {
    margin-inline: auto;
    padding-left: rem(28);
    padding-right: rem(27);
  }

  @include mq(pc) {
    width: pcmin(1000);
    margin-inline: auto;
  }
}

// 2つめのコンテナ
.selection__container--second {
  @include mq(sp) {
    padding-top: spvw(13);
    padding-left: rem(28);
    padding-right: rem(27);
    margin-inline: auto;
  }

  @include mq(pc) {
    width: pcmin(1000);
    margin-inline: auto;
    padding-top: pcmin(109);
  }
}

// セクションサブタイトル
.selection__subtitle--one {
  margin-top: spvw(18);
  position: relative;
  text-align: center;

  @include mq(pc) {
    margin-top: pcmin(97);
    text-align: left;
  }

  .subtitle__number {
    font-size: spvw(58);
    font-family: "Oleo Script", cursive;
    color: #b1d3ff;

    @include mq(pc) {
      font-size: pcmin(120);
      position: absolute;
      top: max(rem(-100), pcvw(-100));
      z-index: 0;
    }
  }

  .subtitle__text {
    letter-spacing: -0.015em;
    margin-top: spvw(3);
    font-weight: bold;
    position: relative;
    z-index: 1;

    @include mq(pc) {
      font-size: pcmin(30);
      letter-spacing: 0.01em;

      & br {
        display: contents;
      }
    }
  }
}

// サブタイトル下のテキスト
.selection__subtitle--under {
  font-size: spvw(15);
  margin-top: spvw(15);

  @include mq(pc) {
    font-size: pcmin(18);
    margin-top: pcmin(19);
  }
}

// アコーディオンパネル
.selection__information {
  margin-top: spvw(11);

  @include mq(pc) {
    margin-top: pcmin(50);
  }
}

// タブ
.information__tab {
  width: 100%;
  height: spvw(60);
  background-color: #fff;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: spvw(16);
  font-weight: bold;
  position: relative;
  cursor: pointer;

  @include mq(pc) {
    height: pcmin(60);
    font-size: pcmin(18);
  }

  & .tab__text {
    margin-bottom: spvw(4);

    @include mq(pc) {
      margin-bottom: pcmin(5);
    }
  }

  & .tab__icon {
    display: block;
    position: absolute;
    width: spvw(13);
    height: spvw(3);
    background-color: #000;
    top: spvw(25);
    right: spvw(21);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;

      background-color: #000;
      transform: rotate(90deg);
      display: block;
      transition: transform 0.3s ease;
    }

    @include mq(pc) {
      width: pcmin(15);
      height: pcmin(3);
      top: pcmin(25);
      right: pcmin(23);
    }
  }

  &.active .tab__icon::before {
    transform: none;
  }
}

// アコーディオンパネル内部
.information__accordion {
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: height 0.6s ease;
}

// 内部のタイトル
.information__title {
  padding-top: spvw(20);
  padding-left: spvw(15);
  width: 94%;
  font-size: spvw(17);

  @include mq(pc) {
    font-size: pcmin(23);
    padding-top: pcmin(60);
    padding-left: pcmin(67);
  }
}

// タイトル下
.infomation__titleUnder {
  font-size: spvw(15);
  width: 89%;

  &--one {
    @extend .infomation__titleUnder;
    margin-top: spvw(25);
    margin-left: spvw(16);
  }

  &--two {
    @extend .infomation__titleUnder;
    margin-left: spvw(15);
  }

  &--three {
    @extend .infomation__titleUnder;
    margin-left: spvw(15);
  }

  @include mq(pc) {
    font-size: pcmin(18);
    margin-left: pcmin(67);

    &--one {
      @extend .infomation__titleUnder;
      margin-top: pcmin(21);
    }

    &--two {
      @extend .infomation__titleUnder;
    }

    &--three {
      @extend .infomation__titleUnder;
      margin-left: pcmin(67);
      margin-top: pcmin(3);
      letter-spacing: 0.0035em;
    }
  }
}

@include mq(sp) {
  // 横並びのアイコン
  .infomation__icons {
    position: relative;
    height: spvw(163); //仮設定
  }

  // 各アイコン
  .icons__item {
    color: #1989ff;
    width: 77px;
    text-align: center;

    // 一個目
    &--one {
      @extend .icons__item;
      width: spvw(78);
      position: absolute;
      top: spvw(29);
      left: spvw(19);
      display: flex;
      flex-direction: column;
      align-items: center;
      & .icons__top {
        width: spvw(45);
        & img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      & .icons__text {
        margin-top: spvw(22);
      }
    }

    &--two {
      @extend .icons__item;
      width: spvw(78);
      position: absolute;
      top: spvw(24);
      left: spvw(121);
      display: flex;
      flex-direction: column;
      align-items: center;
      & .icons__top {
        width: spvw(35);
        & img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      & .icons__text {
        margin-top: spvw(18);
      }
    }

    &--three {
      @extend .icons__item;
      width: spvw(83);
      position: absolute;
      top: spvw(26);
      left: spvw(220);
      display: flex;
      flex-direction: column;
      align-items: center;
      & .icons__top {
        width: spvw(67);
        & img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      & .icons__text {
        margin-top: spvw(17);
      }
    }
  }

  // その下のテキスト
  .icons__text {
    font-size: spvw(13);
    color: #000;
    font-weight: bold;
  }
}

// アコーディオン二枚目のアイコンズ(sp版)
@include mq(sp) {
  .selection__container--second {
    // アイコンコンテナ
    .infomation__icons {
      height: spvw(141);
    }

    // アイコン一個目
    .icons__item--one {
      top: spvw(23);
      .icons__top {
        width: spvw(51);
      }
      .icons__text {
        margin-top: spvw(16);
        width: 5em;
      }
    }
    // アイコン二個目
    .icons__item--two {
      top: spvw(22);
      .icons__top {
        width: spvw(51);
      }
    }

    // アイコン三個目
    .icons__item--three {
      .icons__top--doubleIcon {
        position: relative;

        & img:nth-child(1) {
          width: spvw(41);
          display: block;
          object-fit: cover;
          position: absolute;
          top: spvw(1);
          left: spvw(-21);
        }
        & img:nth-child(2) {
          width: spvw(23);
          display: block;
          object-fit: cover;
          position: absolute;
          top: spvw(20);
          left: spvw(10);
        }
      }

      .icons__text {
        margin-top: spvw(54);
      }
    }
  }
}

// pc版アイコンズ
@include mq(pc) {
  .infomation__icons {
    position: relative;
    height: pcmin(213);
  }

  .icons__item--one {
    position: absolute;
    top: pcmin(66);
    left: pcmin(137);
    text-align: center;

    & .icons__top {
      width: pcmin(79);
      margin-inline: auto;

      & img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }

    & .icons__text {
      margin-top: pcmin(20);
      font-size: pcmin(15);
      font-weight: bold;
    }
  }

  .icons__item--two {
    position: absolute;
    top: pcmin(58);
    left: pcmin(417);
    text-align: center;

    & .icons__top {
      width: pcmin(62);
      margin-inline: auto;

      & img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }

    & .icons__text {
      margin-top: pcmin(12);
      font-size: pcmin(15);
      font-weight: bold;
    }
  }

  .icons__item--three {
    position: absolute;
    top: pcmin(58);
    left: pcmin(687);

    & .icons__top {
      width: pcmin(118);
      margin-inline: auto;

      & img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }

    & .icons__text {
      margin-top: pcmin(12);
      font-size: pcmin(15);
      font-weight: bold;
    }
  }
}

// アコーディオン二枚目のアイコンズ
@include mq(pc) {
  .selection__container--second {
    // アイコン一つ目
    .icons__item--one {
      top: pcmin(56);
      left: pcmin(129);

      & .icons__top {
        width: pcmin(88);
      }

      & .icons__text {
        margin-top: pcmin(12);
      }
    }

    .icons__item--two {
      top: pcmin(57);
      left: pcmin(409);

      & .icons__top {
        width: pcmin(88);
      }
    }

    & .icons__item--three {
      top: pcmin(57);
      left: pcmin(727);

      & .icons__top--doubleIcon {
        & img:nth-child(1) {
          width: pcmin(71);
          position: absolute;
          top: pcmin(8);
          left: pcmin(33);
        }
        & img:nth-child(2) {
          width: pcmin(34);
          position: absolute;
          top: pcmin(44);
          left: pcmin(90);
        }
      }

      .icons__text {
        margin-top: pcmin(82);
      }
    }
  }
}

// グリッドコンテナ
.information__grid {
  display: grid;
  gap: spvw(15);
  padding-bottom: spvw(25);

  @include mq(pc) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: pcmin(865);
    margin-inline: auto;
    padding-right: 1px;
    padding-bottom: pcmin(70);
  }
}

// コンテナ内カード
.information__card {
  width: spvw(275);
  border: solid 1px #1989ff;
  justify-self: center;
  position: relative;

  @include mq(pc) {
    width: pcmin(275);
    height: pcmin(275);
  }
}

// カードナンバー
.card__number {
  position: absolute;
  display: block;
  width: spvw(84);
  height: spvw(84);
  background: #1989ff;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  color: #fff;
  font-size: spvw(30);
  padding-left: spvw(16);
  z-index: 0;

  @include mq(pc) {
    font-size: pcmin(30);
    padding-left: pcmin(12);
    padding-top: rem(1);
    width: pcmin(84);
    height: pcmin(84);
  }
}

// カードのトップテキスト
.card__top {
  text-align: center;
  font-size: spvw(17);
  font-weight: bold;
  margin-top: 28px;

  @include mq(pc) {
    font-size: pcmin(18);
    margin-top: pcmin(39);
  }
}

// カードの下のテキスト
.card__text {
  margin-top: spvw(20);
  width: spvw(224);
  font-size: spvw(14);
  margin-inline: auto;
  line-height: 1.5;
  margin-bottom: spvw(35);

  @include mq(pc) {
    font-size: pcmin(16);
    margin-top: pcmin(31);
    width: pcmin(224);
    word-break: break-all;
    white-space: normal;
    line-break: anywhere;
  }
}

// 二枚目のアコーディオンのカード下テキスト
.selection__container--second {
  .card__text {
    @include mq(sp) {
      line-break: strict;
      width: spvw(230);
      margin-left: spvw(25);
      margin-top: spvw(21);
      margin-bottom: spvw(34);
    }

    @include mq(pc) {
      line-height: 1.43;
    }
  }
}
