@use "utils" as *;

// スライダーセクションの大枠

// SP版スライダーセクション
@include mq(sp) {
  .slider {
    height: spvw(377);
    background-color: #d0e7ff;
    width: 100%;
    position: relative;
  }

  // セクションタイトル
  .slider__title {
    font-size: spvw(15);
    padding-top: spvw(38);
    text-align: center;
    padding-left: spvw(8);
    margin-right: spvw(5);

    & span {
      font-size: spvw(26);
      color: #1989ff;
      margin-left: spvw(5);
      margin-right: spvw(2);
    }
  }
}

// pc版スライダーセクション
@include mq(pc) {
  .slider {
    height: pcmin(471);
    background-color: #d0e7ff;
    width: 100%;
    position: relative;
  }

  // コンテナ
  .slider__container {
    max-width: rem(1366);
    margin-inline: auto;
    height: 100%;
  }

  // セクションタイトル
  .slider__title {
    text-align: center;
    font-size: pcmin(25);
    padding-top: pcmin(62);
    margin-left: pcmin(11);

    & span {
      font-size: pcmin(40);
      font-weight: bold;
      color: #1989ff;
      margin-left: pcmin(3);
      margin-right: pcmin(3);
    }
  }
}

// スライダーの中身
.slider__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: spvw(262);
  margin-inline: auto;

  @include mq(pc) {
    width: pcmin(361);
  }

  & img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
}

// スライダーのページネーション周りの実装

// ページネーションコンテナ
.slider__pagination {
  width: per(260, 375);
  height: spvw(87);
  margin-inline: auto;
  margin-top: spvw(4);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include mq(pc) {
    width: pcmin(358);
    height: pcmin(90);
    margin-top: 0;
  }
}

// スライダーのナビゲーションボタン
.slider__button {
  width: spvw(60);
  height: spvw(61);

  @include mq(pc) {
    width: pcmin(60);
    height: pcmin(61);
  }

  & img {
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
}

// 数字
.swiper-pagination {
  font-size: spvw(25) !important;
  @include mq(pc) {
    font-size: pcmin(25) !important;
  }

  font-weight: bold !important;
  width: max-content !important;
  position: relative !important;
  margin-bottom: 6px;

  .swiper-pagination-current {
    margin-right: -5px;
  }
  .swiper-pagination-total {
    margin-left: -5px;
  }

  .swiper-pagination-current::before {
    content: "0";
  }
  .swiper-pagination-total::before {
    content: "0";
  }
}

// swiperの位置調整
.swiper {
  margin-top: spvw(41);

  @include mq(pc) {
    margin-top: pcmin(31);
    width: 93%;
  }
}
