@forward "fonts";
@forward "header";
@forward "hero";
@forward "button";
@forward "slider";
@forward "work";
@forward "selection";
@forward "between";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// ローディングアニメーション
body {
  animation: Loading forwards 1.8s ease-out;
  @keyframes Loading {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
