@forward "fonts";
@forward "header";
@forward "hero";
@forward "button";
@forward "slider";
@forward "work";
@forward "selection";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
